{% extends '::base.html.twig' %}

{%- block meta_title -%}
    {{ 'home.meta_title'|trans({}, 'cocorico_meta') ~ " - " ~ cocorico_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'home.meta_desc'|trans({}, 'cocorico_meta') }}
{%- endblock -%}

{% block theme %}home-page{% endblock %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_home' %}

        {% block sub_header %}
            {#<!-- visual -->#}
            <div class="visual text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-lg-8 col-lg-push-2">
                            <div class="title-holder">
                                <div class="title-frame">
                                    <h1>
                                        Solution collaborative d'achat des services en devises et de transfert d'argent
                                    </h1>
                                    <button type="button" class="btn btn-primary btn-slide ">Transférez des fonds</button>
                                    <button type="button" class="btn btn-success btn-slide ">Achetez des devises</button>
                                </div>
                            </div>
                        </div>
                      {#  {{ render(controller('CocoricoCoreBundle:Frontend/ListingSearch:searchHomeForm')) }}#}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block main %}

            <!-- debut carousel-Annonce -->
            <section class="container-fluid annonce">
                <div class="container text-center">
                    <h2 class="section-title">Nos Nouvelles Annonces
                        <small>Découvrez nos dernières annonces </small>
                    </h2>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Controls -->
                            <div class="controls pull-right hidden-xs">
                                <a class="glyphicon glyphicon-chevron-left" href="#carousel-bimp"
                                   data-slide="prev"></a>
                                <a class="glyphicon glyphicon-chevron-right" href="#carousel-bimp"
                                   data-slide="next"></a>
                            </div>
                        </div>
                    </div>
                    <div id="carousel-bimp" class="carousel slide " data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item.active">
                                <div class="col-md-4">
                                    <div class="col-item">
                                        <div class="img-thumbnail">
                                            <img src="img/1.jpg" class="img-responsive" alt="a" />
                                            <div class="price-tag">
                                                <div class="price">
                                                    <span>100 €</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption-box">
                                            <h4>Titre</h4>
                                            <p>Lorem Ipsum is simply dummy text of the
                                                printing and typesetting industry</p>
                                        </div>
                                        <div class="separator clear-left">
                                            <div class="rating  col-md-6">
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <p class="btn-details">

                                                <a href="#"> En savoir plus</a>
                                            </p>
                                        </div>
                                        <div class="clearfix">
                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="col-item">
                                        <div class="img-thumbnail">
                                            <img src="img/3.jpg" class="img-responsive" alt="a" />
                                            <div class="price-tag">
                                                <div class="price">
                                                    <span>100 €</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption-box">
                                            <h4>Titre</h4>
                                            <p>Lorem Ipsum is simply dummy text of the
                                                printing and typesetting industry</p>
                                        </div>
                                        <div class="separator clear-left">
                                            <div class="rating col-md-6">
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                            </div>
                                            <p class="btn-details">

                                                <a href="#"> En savoir plus</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="col-item">
                                        <div class="img-thumbnail">
                                            <img src="img/2.jpg" class="img-responsive" alt="a" />
                                            <div class="price-tag">
                                                <div class="price">
                                                    <span>100 €</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption-box">
                                            <h4>Titre</h4>
                                            <p>Lorem Ipsum is simply dummy text of the
                                                printing and typesetting industry</p>
                                        </div>
                                        <div class="separator clear-left">
                                            <div class="rating col-md-6">
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <p class="btn-details">
                                                <a href="#"> En savoir plus</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- fin carousel-Annonce -->

            <!-- infoarea -->
            {#    <div class="infoarea container">
                   <div class="row">
                       <!-- info-box -->
                       <div class="col-xs-12 col-sm-6 col-md-4 info-box">
                           <img src="{{ asset('images/icon1.png') }}" alt="icon description" class="pull-left icon">

                           <div class="textbox">
                               <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing.</a></h2>

                               <p>
                                   Mipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                   incididunt ut
                                   labore.
                               </p>
                           </div>
                       </div>
                       <!-- info-box -->
                       <div class="col-xs-12 col-sm-6 col-md-4 info-box">
                           <img src="{{ asset('images/icon2.png') }}" alt="icon description" class="pull-left icon">

                           <div class="textbox">
                               <h2><a href="#">Lorem ipsum dolor sit amet ?</a></h2>

                               <p>
                                   Mipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                   incididunt ut
                                   labore.
                               </p>
                           </div>
                       </div>
                       <div class="clearfix visible-sm"></div>
                       <!-- info-box -->
                       <div class="col-xs-12 col-sm-6 col-md-4 info-box">
                           <img src="{{ asset('images/icon3.png') }}" alt="icon description" class="pull-left icon">

                           <div class="textbox">
                               <h2><a href="#">Lorem ipsum dolor sit amet, consect</a></h2>

                               <p>
                                   Mipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                   incididunt ut
                                   labore.
                               </p>
                           </div>
                       </div>
                   </div>
               </div>
#}
           {#    {% include 'CocoricoCoreBundle:Frontend/Home:_high_rank.html.twig'  with {
               'listings': listings
               } only %}

               {{ render(controller('CocoricoCoreBundle:Frontend/Home:rssFeeds')) }}   #}

           {% endblock %}

          {# {% block modal %}
               {% include 'CocoricoCoreBundle:Frontend/Common:_modal.html.twig' only %}
           {% endblock %}#}
       {% endembed %}
   {% endblock %}


   {% block javascripts %}
       {{ parent() }}

       {#Geocoding #}
    {% include '@CocoricoCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '',
    'auto_complete_elt': '#location'
    } only %}

    <script>
        // Categories
        $(function () {

            // Set default favourites in the listing
            setDefaultFavourites();

            initMultiSelect(
                    '#categories',
                    '{{ "multiselect.all_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.none_selected"|trans({}, "cocorico") }}',
                '{{ "multiselect.num_selected"|trans({}, "cocorico") }}'
            );
        });
    </script>
{% endblock %}

{% block markup_jsonld %}
    {{ parent() }}

    {% include 'CocoricoSeoBundle:Frontend:Home/_index_markup.jsonld.twig' ignore missing with {
    'listings': listings
    } only %}
{% endblock %}