{% trans_default_domain 'cocorico_listing' %}

<!-- tabs-aside -->
<aside class="tabs-aside">
    <div class="aside-holder">
        {{ render(controller('CocoricoCoreBundle:Dashboard/Offerer/Listing:statusNavSideForm', {'listing': listing})) }}

        <!-- tabset-holder -->
        <nav class="tabset-holder">
            <a href="#" class="opener">
                <span class="hidden">opener</span>
                <i class="icon-down-open-mini"></i></a>

            <!-- nav-tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="{{ nav_side_dashboard_current == "presentation" ? 'active' : '' }}">
                    <a href="{{ path('cocorico_dashboard_listing_edit_presentation', { 'id': listing.id }) }}"
                       aria-controls="presentation" data-text="{{ 'nav.listing.presentation.link'|trans }}">
                        {{ 'nav.listing.presentation.link'|trans }}
                    </a>
                </li>
                <li role="presentation"
                    class="{{ nav_side_dashboard_current == "availabilities_prices" ? 'active' : '' }}">
                    <a href="{{ path('cocorico_dashboard_listing_edit_availabilities_prices', { 'listing_id': listing.id }) }}"
                       aria-controls="presentation" data-text="{{ 'nav.listing.price.link'|trans }}">
                        {{ 'nav.listing.price.link'|trans }}
                    </a>
                </li>
                {# <li role="presentation"
                    class="{{ nav_side_dashboard_current == "availabilities_status" ? 'active' : '' }}">
                    <a data-text="{{ 'nav.listing.calendar.link'|trans }}"
                       aria-controls="presentation"
                       href="{{ path('cocorico_dashboard_listing_edit_availabilities_status', { 'listing_id': listing.id }) }}">
                        {{ 'nav.listing.calendar.link'|trans }}
                    </a>
                </li>#}
                <li role="presentation" class="{{ nav_side_dashboard_current == "image" ? 'active' : '' }}">
                    <a data-text="{{ 'nav.listing.images.link'|trans }}"
                       aria-controls="presentation"
                       href="{{ path('cocorico_dashboard_listing_edit_images', { 'id': listing.id }) }}">
                        {{ 'nav.listing.images.link'|trans }}
                    </a>
                </li>
               {# <li role="presentation" class="{{ nav_side_dashboard_current == "characteristic" ? 'active' : '' }}">
                    <a data-text="{{ 'nav.listing.characteristic.link'|trans }}"
                       aria-controls="presentation"
                       href="{{ path('cocorico_dashboard_listing_edit_characteristic', { 'id': listing.id }) }}">
                        {{ 'nav.listing.characteristic.link'|trans }}
                    </a>
                </li>#}
                <li role="presentation" class="{{ nav_side_dashboard_current == "categories" ? 'active' : '' }}">
                    <a data-text="{{ 'nav.listing.categories.link'|trans }}"
                       aria-controls="presentation"
                       href="{{ path('cocorico_dashboard_listing_edit_categories', { 'id': listing.id }) }}">
                        {{ 'nav.listing.categories.link'|trans }}
                    </a>
                </li>
                <li role="presentation" class="{{ nav_side_dashboard_current == "location" ? 'active' : '' }}">
                    <a data-text="{{ 'nav.listing.location.link'|trans }}"
                       aria-controls="presentation"
                       href="{{ path('cocorico_dashboard_listing_edit_location', { 'id': listing.id }) }}">
                        {{ 'nav.listing.location.link'|trans }}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="currency-converter white">
            {% include '@CocoricoCore/Frontend/Common/_currency_converter.html.twig' with {'close' : false} only %}
        </div>
    </div>
</aside>