{% extends 'CocoricoCoreBundle:Dashboard/Listing:layout.html.twig' %}

{% trans_default_domain 'cocorico_listing' %}


{% block nav_side_dashboard -%}
    {% set nav_side_dashboard_current = 'characteristic' %}
    {{ parent() }}
{%- endblock %}

{% block content_dashboard -%}

    {{ form_start(form, {'attr': {'class': 'form-area'}}) }}

    <fieldset>
        <legend class="hidden">form area</legend>
        <!-- alert -->
        {#  {{ render(controller('CocoricoCoreBundle:Dashboard/Offerer/Listing:completionNotice', {'listing': listing})) }}#}

        {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}

        {{ form_errors(form) }}
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="features">
                <div class="form-block featured-block">
                    <h2>{{ 'listing.edit.characteristic.title'|trans }}</h2>
                    <strong class="sub-heading">{{ 'listing.edit.characteristic.sub_title'|trans }}</strong>
                    <!-- features-area -->
                    <div id="characteristics" class="form-block features-area">
                        {{ form_errors(form.listingListingCharacteristicsOrderedByGroup) }}
                        {% set listingCharacteristicGroup, previousListingCharacteristicGroup = "", "" %}
                        <!--@formatter:off-->
                        {% for listingListingCharacteristic in form.listingListingCharacteristicsOrderedByGroup %}
                            {% set listingCharacteristic = listingListingCharacteristic.vars.value.listingCharacteristic %}
                            {% set listingCharacteristicGroup =  listingCharacteristic.listingCharacteristicGroup.getName() %}
                            {#{{ dump(listingCharacteristic) }}#}
                            {% if listingCharacteristicGroup != previousListingCharacteristicGroup %}
                                {% if previousListingCharacteristicGroup %}
                                    {{ '</ul>' }}
                                {% endif %}
                                {{ '<ul class="col-md-4 list-unstyled features-list-new same-height-left same-height-right">' }}
                                    <li><h3>{{ listingCharacteristicGroup }}</h3></li>
                            {% endif %}
                                    <li>
                                        <label class="label">
                                            {{ listingCharacteristic.getName() }}
                                        </label>
                                        {% if listingCharacteristic.getDescription()|length %}
                                            <button title="" data-original-title="{{ listingCharacteristic.getDescription() }}" data-placement="right" data-toggle="tooltip" class="tooltip-button" type="button">?</button>
                                        {% endif %}
                                        <div class="field-holder">
                                            {{ form_widget(listingListingCharacteristic.listingCharacteristicValue, {
                                                'attr': {
                                                    'class': "no-arrow"
                                                }
                                            }) }}
                                        </div>
                                    </li>
                                    {% set previousListingCharacteristicGroup =  listingCharacteristicGroup %}
                        {% endfor %}
                        <!--@formatter:on-->
                    </div>
                </div>

                <div class="btn-block text-center">
                    <button type="submit" class="btn btn-default">{{ 'listing.save'|trans }}</button>
                </div>
            </div>
        </div>
    </fieldset>

    {{ form_end(form) }}
{%- endblock %}



{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            jQuery('#characteristics').sameHeight({
                elements: '>*',
                flexible: true,
                multiLine: true
            });
        });
    </script>

{% endblock %}
