{% extends 'CocoricoCoreBundle:Dashboard/Listing:layout.html.twig' %}

{% trans_default_domain 'cocorico_listing' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block nav_side_dashboard -%}
    {% set nav_side_dashboard_current = 'categories' %}
    {{ parent() }}
{%- endblock %}

{% block content_dashboard -%}
    <div class="form-area">
        {#  {{ render(controller('CocoricoCoreBundle:Dashboard/Offerer/Listing:completionNotice', {'listing': listing})) }}

        {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
        #}
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="info">

                <div class="form-holder">
                    <h2>{{ 'listing.edit.categories.title'|trans }}</h2>


                        {{ render(controller('CocoricoCoreBundle:Dashboard/Offerer/ListingCategoriesAjax:categoriesAjaxForm', {'listing': listing})) }}


                    {#Extra fields#}
                    {% include '@CocoricoCore/Dashboard/Listing/form_categories_extra.html.twig' with {'form': form} %}
                </div>
                <!-- form-holder -->
            </div>
        </div>
        <!-- tab-content -->
    </div>
{%- endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {

        });
    </script>
{% endblock %}