{% extends '@CocoricoUser/Dashboard/Profile/layout.html.twig' %}


{% trans_default_domain 'cocorico_user' %}

{% block nav_side_dashboard -%}
    {% set nav_side_dashboard_current = 'about_me' %}
    {{ parent() }}
{%- endblock %}

{% block content_dashboard -%}
    <!-- form-area -->
    {{ form_start(form, {'attr': {'class': 'form-area profil-form'}}) }}

    <fieldset>
        <legend class="hidden">legend</legend>
        <!-- alert -->
       {# {% include '@CocoricoUser/Dashboard/Profile/_completion_notice.html.twig' only %}#}
        {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
        {{ form_errors(form) }}
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- tab about-me -->



            <div id="payment-info" class="tab-pane active" role="tabpanel">
                <!-- form-holder -->

                <div class="form-holder columns-holder">
                    <h2>{{ 'user.about.title'|trans }}  </h2>
                    <!-- about-info -->
                    <div class="payment-info">
                        <div class="column">
                            <div class="field-row">
                                {{ form_errors(form.lastName) }}
                                <span class="label">{{ form_label(form.lastName) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.lastName, {
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.firstName) }}
                                <span class="label">{{ form_label(form.firstName) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.firstName, {
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>
                            <div class="field-row">
                                <div class="error-container">{{ form_errors(form.email) }}</div>
                                <span class="label">{{ form_label(form.email) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.email, {
                                        'attr': {
                                            'class': "form-control required",
                                            'data-parsley-required-message': 'cocorico_user.email.blank'|trans({},'validators'),
                                            'data-parsley-invalid-message': 'cocorico_user.email.invalid'|trans({}, 'validators')
                                        }
                                    }) }}
                                </div>
                            </div>

                        {#    <div class="field-row">
                                {{ form_errors(form.nationality) }}
                                <span class="label">{{ form_label(form.nationality) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.nationality,{
                                        'attr': {
                                            'class': "no-arrow"
                                        }
                                    } ) }}
                                </div>
                            </div>#}
                            <div class="field-row">
                                {{ form_errors(form.birthday) }}
                                <span class="label">{{ form_label(form.birthday) }}</span>

                                <div class="field-holder">
                                    <div class="field-day">
                                        {{ form_widget(form.birthday.day, {
                                            'attr': {
                                                'class': "form-control no-arrow"
                                            }
                                        } ) }}
                                    </div>
                                    <div class="field-month">
                                        {{ form_widget(form.birthday.month, {
                                            'attr': {
                                                'class': "form-control no-arrow",
                                            }
                                        } ) }}
                                    </div>
                                    <div class="field-year">
                                        {{ form_widget(form.birthday.year, {
                                            'attr': {
                                                'class': "form-control no-arrow"
                                            }
                                        } ) }}
                                    </div>
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.nationality) }}
                                <span class="label">{{ form_label(form.nationality) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.nationality,{
                                        'attr': {
                                            'class': "no-arrow"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.countryOfResidence) }}
                                <span class="label">{{ form_label(form.countryOfResidence) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.countryOfResidence,{
                                        'attr': {
                                            'class': "no-arrow"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.profession) }}
                                <span class="label">{{ form_label(form.profession) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.profession,{
                                        'attr': {
                                            'class': "no-arrow"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            {# dont work when empty value #}
                            <div class="field-row">
                                <div class="error-container">{{ form_errors(form.plainPassword.first) }}</div>
                                <span class="label">{{ form_label(form.plainPassword.first) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.plainPassword.first, {
                                        'attr': {
                                            'class': "form-control required",
                                            'data-parsley-required-message': 'cocorico_user.plainPassword.first.blank'|trans({},'validators'),
                                            'data-parsley-invalid-message': 'cocorico_user.plainPassword.first.invalid'|trans({}, 'validators')
                                        }
                                    }) }}
                                </div>
                            </div>

                            <div class="field-row">
                                <div class="error-container">{{ form_errors(form.plainPassword.second) }}</div>
                                <span class="label">{{ form_label(form.plainPassword.second) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.plainPassword.second , {
                                        'attr': {
                                            'class': "form-control required",
                                            'data-parsley-equalto': "#"~ form.plainPassword.first.vars.id,
                                            'data-parsley-equalto-message': 'fos_user.password.mismatch'|trans({},'validators'),
                                            'data-parsley-required-message': 'cocorico_user.plainPassword.second.blank'|trans({},'validators'),
                                            'data-parsley-invalid-message': 'cocorico_user.plainPassword.second.invalid'|trans({}, 'validators')
                                        }
                                    }) }}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="btn-block text-center">
                    <button type="submit" class="btn btn-default">{{ 'profile.edit.submit'|trans }}</button>
                </div>
            </div>
        </div>
    </fieldset>
    {{ form_end(form) }}
{%- endblock %}


{% block javascripts %}
    {{ parent() }}

    {#Files upload#}
{#{% include '@CocoricoCore/Frontend/Common/js/_upload_js.html.twig' with {
    'upload_elt': '#user_image_new',
    'upload_images': '#user_image_uploaded',
    'upload_url': oneup_uploader_endpoint('user_images') ~ "?user_id=" ~ app.user.id ,
    'upload_max': user_img_max,
    } only %}#}

    {% include '@CocoricoUser/Dashboard/Profile/js/_translator_js.html.twig' only %}

{% endblock %}
