{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_user' %}

        {% block main %}
            <div class="register">
            <div class="col-xs-12">
                {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
                <div id="form-registerlogin" class="form-signup validate-form">
                    <h1>{{ 'listing.new.signup.title'|trans({},'cocorico_listing') }}</h1>

                    <form class="form" action="{{ path('cocorico_user_register') }}" method="POST" autocomplete="off">

                        {% include '@CocoricoUser/Frontend/Common/_login_register.html.twig' with {
                        'form_registration': form,
                        'form_login': false
                        } only %}

                        <div class="btn-block text-center">
                            <button type="submit" class="btn btn-default">{{ 'registration.submit'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}